In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [83]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [84]:
train_df = pd.read_json("./train.json")

In [85]:
train_df.head(1)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue

#### Data Cleaning

In [230]:
#reset index
train_df1 = train_df.copy()
train_df1 = train_df1.reset_index()
del train_df1['index']
#train_df1['photo_num'] = train_df1["photos"].apply(len)
#train_df1['des_words_num'] = train_df1["description"].apply(lambda x: len(x.split(" ")))

train_df1.head(3)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
1,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
2,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street

In [231]:
train_df2 = train_df1.copy()
date_sep0 = datetime.strptime('2016-04-15 00:00:00', '%Y-%m-%d %H:%M:%S')
date_sep1 = datetime.strptime('2016-05-01 00:00:00', '%Y-%m-%d %H:%M:%S')
date_sep2 = datetime.strptime('2016-05-15 00:00:00', '%Y-%m-%d %H:%M:%S')
date_sep3 = datetime.strptime('2016-06-01 00:00:00', '%Y-%m-%d %H:%M:%S')
date_sep4 = datetime.strptime('2016-06-15 00:00:00', '%Y-%m-%d %H:%M:%S')
date_lis = [datetime.strptime(x, '%Y-%m-%d %H:%M:%S') for x in train_df2.created]
date_group = ['dg0' if x<date_sep0 else('dg1' if x<date_sep1 else('dg2' if x<date_sep2 else('dg3' if x<date_sep3 else('dg4' if x<date_sep4 else('dg5'))))) for x in date_lis]
train_df2['date_group'] = date_group
del train_df2['created']
train_df2.head(3)

,bathrooms,bedrooms,building_id,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,date_group
0,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,dg5
1,1.0,2,c5c8a357cba207596b04d1afd1e4f130,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,dg4
2,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street,dg1

In [265]:
train_df3 = train_df2.copy()
del train_df3['building_id']
#del train_df3['manager_id']

#manager_dummy = pd.get_dummies(train_df3.manager_id)
#manager_dummy = manager_dummy.drop('5ba989232d0489da1b5f2c45f6688adc', axis = 1) # Use '5ba989232d0489da1b5f2c45f6688adc' as the
#base level
#train_df3 = pd.concat([train_df3, manager_dummy], axis = 1)

#building_dummy = pd.get_dummies(train_df3.building_id)
#building_dummy = building_dummy.drop('53a5b119ba8f7b61d4e010512e0dfc85', axis = 1) # Use '53a5b119ba8f7b61d4e010512e0dfc85' as the
#base level
#train_df3 = pd.concat([train_df3, building_dummy], axis = 1)

train_df3.head(2)

,bathrooms,bedrooms,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,date_group
0,1.5,3,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,dg5
1,1.0,2,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,dg4

In [266]:
train_df4 = train_df3.copy()
train_df4['features_number'] = [len(x) for x in train_df4.features]
del train_df4['features']
del train_df4['description']
del train_df4['listing_id']
del train_df4['photos']
del train_df4['display_address']
del train_df4['street_address']
#train_df4['location-ll'] = [str(x) + ', ' + str(y) for x,y in zip(train_df4.latitude, train_df4.longitude)]
#del train_df4['latitude']
#del train_df4['longitude']
train_df4.head(3)

,bathrooms,bedrooms,interest_level,latitude,longitude,manager_id,price,date_group,features_number
0,1.5,3,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,dg5,0
1,1.0,2,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,dg4,5
2,1.0,1,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,dg1,4

In [267]:
train_df5 = train_df4.copy()
date_group_dummy = pd.get_dummies(train_df5.date_group)
date_group_dummy = date_group_dummy.drop('dg0', axis = 1)
train_df5 = pd.concat([train_df5, date_group_dummy], axis = 1)
del train_df5['date_group']
train_df5.head()

,bathrooms,bedrooms,interest_level,latitude,longitude,manager_id,price,features_number,dg1,dg2,dg3,dg4,dg5
0,1.5,3,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0,0.0,0.0,0.0,0.0,1.0
1,1.0,2,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,5,0.0,0.0,0.0,1.0,0.0
2,1.0,1,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,4,1.0,0.0,0.0,0.0,0.0
3,1.0,1,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,2,1.0,0.0,0.0,0.0,0.0
4,1.0,4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1,1.0,0.0,0.0,0.0,0.0

In [268]:
train_df6 = train_df5.copy()
#train_df6['bath_categorical'] = ['bt<=1' if x<=1 else 'bt>1' for x in train_df6.bathrooms]
bath_dummy = pd.get_dummies(train_df6.bathrooms)
#bath_dummy = bath_dummy.drop('1', axis = 1) # '1' as the base level
train_df6 = pd.concat([train_df6, bath_dummy], axis = 1)
del train_df6['bathrooms']
train_df6.head()

,bedrooms,interest_level,latitude,longitude,manager_id,price,features_number,dg1,dg2,dg3,...,3.0,3.5,4.0,4.5,5.0,5.5,6.0,6.5,7.0,10.0
0,3,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,4,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [269]:
train_df7 = train_df6.copy()
#train_df7['fn_categorical'] = ['fna' if x<=2 else( 'fnb' if x<6 else 'fnc') for x in train_df7['features_number']]
#divided so based on basic EDA.
feature_dummy = pd.get_dummies(train_df7.features_number)
train_df7 = pd.concat([train_df7, feature_dummy], axis = 1)
del train_df7['features_number']
train_df7.head()

,bedrooms,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,...,23,24,25,26,27,28,31,32,36,39
0,3,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [270]:
train_df8 = train_df7.copy()
#bathroom_dummy = pd.get_dummies(train_df8.bath_categorical)
#bathroom_dummy = bathroom_dummy.drop('bt<=1', axis = 1) # Use 'bt<=1' as the base level. 
#train_df8 = pd.concat([train_df8, bathroom_dummy], axis = 1)
#del train_df8['bath_categorical']
train_df8.head()

,bedrooms,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,...,23,24,25,26,27,28,31,32,36,39
0,3,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [271]:
train_df9 = train_df8.copy()
#features_num_dummy = pd.get_dummies(train_df9.fn_categorical)
#features_num_dummy = features_num_dummy.drop('fna', axis = 1) # Use 'fna' as the base level.
#train_df9 = pd.concat([train_df9, features_num_dummy], axis = 1)
#del train_df9['fn_categorical']
train_df9.head()

,bedrooms,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,...,23,24,25,26,27,28,31,32,36,39
0,3,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [272]:
train_df10 = train_df9.copy()
train_df10['bd_categorical'] = ['bda' if x==0 else ('bdb' if x==1 else('bdc' if x==2 else 'bdd')) for x in train_df10.bedrooms]
#bathroom type 'bda': bedroom number<=1; 'bdb': number ==2; 'bdc': else. 
#I divide into these three categories based on basic EDA done by Andrew.
del train_df10['bedrooms']
bedroom_dummy = pd.get_dummies(train_df10.bd_categorical)
bedroom_dummy = bedroom_dummy.drop('bda', axis = 1) # Use 'bda' as the base level.
train_df10 = pd.concat([train_df10, bedroom_dummy], axis = 1)
del train_df10['bd_categorical']
train_df10.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,26,27,28,31,32,36,39,bdb,bdc,bdd
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#### Introduce the location data

In [273]:
#Part I of the location data
with open('address_data_p1.txt', 'r') as f:
    location_data_p1 = f.readlines()
#location_data

In [241]:
#Mannually correct several address data caused by irregular responses from Google Maps API
location_data_p1[95] =  u'102-32 65th Ave, Forest Hills, NY 11375, USA'
location_data_p1[7333] =  u'612 W 137th St, New York, NY 10031, USA'
location_data_p1[14251] =  u'1 West St, New York, NY 10004, USA'

In [242]:
zipcode_p1 = [x.split(',')[-2][-5:] for x in location_data_p1]
len(zipcode_p1)

25000

In [243]:
#Part II of the location data:
df = pd.read_json('./address_data/with_goog_api.json')

In [244]:
location_data_p2 = df.iloc[24999:,15].values

In [245]:
#Mannually add the missing location data:
location_data_p2[0] = u'222 E 39th St, New York, NY 10016, USA'
location_data_p2[1] = u'439 W 50th St, New York, NY 10019, USA'
location_data_p2[25860 - 24999] = u'1632 Madison Ave, New York, NY 10029, USA'
location_data_p2[27181 - 24999] = u'24th St, Long Island City, NY, USA'
location_data_p2[33286 - 24999] = u'450 E 83rd St, New York, NY 10028, USA'
location_data_p2[34390 - 24999] = u'247 W 87th St, New York, NY 10024, USA'
location_data_p2[35826 - 24999] = u'118 W 109th St, New York, NY 10025, USA'
location_data_p2[36448 - 24999] = u'246 Mott St, New York, NY 10012, USA'
location_data_p2[39199 - 24999] = u'21 W 106th St, New York, NY 10025, USA'
location_data_p2[17988] = u'338 E 53rd St, New York, NY 10022, USA'
location_data_p2[27181 - 24999] =  u'41-42 24th St, Long Island City, NY 11101, USA'
location_data_p2[40317 - 24999] =  u'75 Washington St, New York, NY 10006, USA'

In [246]:
zipcode_p2 = [x.split(',')[-2][-5:] for x in location_data_p2]
zipcode_p2 = zipcode_p2[1:] #1st one is already in part I so should be removed

In [247]:
#combine to get the zipcode data for all rows
zipcode_all = zipcode_p1 + zipcode_p2

In [274]:
#Append the zipcode data to the data frame
train_df11 = train_df10.copy()
train_df11['zipcode'] = zipcode_all
train_df11.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,27,28,31,32,36,39,bdb,bdc,bdd,zipcode
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11211
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10025
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10011
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10017
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10031

In [275]:
#Delete irregular zipcodes. These 4 zipcodes are not even in NY, so they might be results of mis-posting.
train_df12 = train_df11.copy()
#train_df12 = train_df12[train_df12['zipcode'] != '46205']
#train_df12 = train_df12[train_df12['zipcode'] != '55423']
#train_df12 = train_df12[train_df12['zipcode'] != '60619']
#train_df12 = train_df12[train_df12['zipcode'] != '90011']
train_df12.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,27,28,31,32,36,39,bdb,bdc,bdd,zipcode
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11211
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10025
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10011
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10017
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10031

In [276]:
train_df13 = train_df12.copy()
#del train_df13['location-ll']
train_df13.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,27,28,31,32,36,39,bdb,bdc,bdd,zipcode
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11211
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10025
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10011
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10017
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10031

In [277]:
#remove areas with zipcodes outside NY
#Because there are hundreds of zipcodes, we treat it as a numeric feature.
train_df14 = train_df13.copy()
train_df14 = train_df14[train_df14['zipcode'].map(lambda x: x.startswith('1'))]
train_df14.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,27,28,31,32,36,39,bdb,bdc,bdd,zipcode
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11211
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10025
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10011
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10017
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10031

In [278]:
#Add interaction terms
train_df15 = train_df14.copy()
#train_df15['price*zip'] = [float(x)*float(y) for x,y in zip(train_df15.price, train_df15.zipcode)]
train_df15['lat*long'] = [float(x)*float(y) for x,y in zip(train_df15.latitude, train_df15.longitude)]
train_df15.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,28,31,32,36,39,bdb,bdc,bdd,zipcode,lat*long
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11211,-3010.531916
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,10025,-3017.449336
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10011,-3014.744530
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10017,-3014.472249
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10031,-3018.913618

In [279]:
#Dummify the zipcode feature
train_df16 = train_df15.copy()
#zipcode_dummy = pd.get_dummies(train_df16.zipcode)
#zipcode_dummy = zipcode_dummy.drop('10025', axis = 1) # Use '10025' as the base level.
#train_df16 = pd.concat([train_df16, zipcode_dummy], axis = 1)
del train_df16['zipcode']
train_df16.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,27,28,31,32,36,39,bdb,bdc,bdd,lat*long
0,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-3010.531916
1,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-3017.449336
2,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-3014.744530
3,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-3014.472249
4,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-3018.913618

In [345]:
#add manager skills (This can greatly improve the prediction accuracy!)
train_df17 = train_df16.copy()

from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
lbl.fit(list(train_df17['manager_id'].values))

train_df17['manager_id'] = lbl.transform(list(train_df17['manager_id'].values))

temp = pd.concat([train_df17.manager_id,pd.get_dummies(train_df17.interest_level)], axis = 1).groupby('manager_id').mean()
temp.columns = ['high_frac','low_frac', 'medium_frac']
temp['count'] = train_df17.groupby('manager_id').count().iloc[:,1]
temp['manager_skill'] = temp['medium_frac'] + 2 * temp['high_frac'] #+ 1.5 * temp['high_frac']*temp['medium_frac']
# get ixes for unranked managers...
unranked_managers_ixes = temp['count']<20
# ... and ranked ones
ranked_managers_ixes = ~unranked_managers_ixes
mean_values = temp.loc[ranked_managers_ixes, ['high_frac','low_frac', 'medium_frac','manager_skill']].mean()
temp.loc[unranked_managers_ixes,['high_frac','low_frac', 'medium_frac','manager_skill']] = mean_values.values
train_df17 = train_df17.merge(temp.reset_index(),how='left', left_on='manager_id', right_on='manager_id')
train_df17.head()

,interest_level,latitude,longitude,manager_id,price,dg1,dg2,dg3,dg4,dg5,...,39,bdb,bdc,bdd,lat*long,high_frac,low_frac,medium_frac,count,manager_skill
0,medium,40.7145,-73.9425,1236,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,-3010.531916,0.000000,0.744444,0.255556,90,0.255556
1,low,40.7947,-73.9667,1578,5465,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,-3017.449336,0.000000,0.988372,0.011628,86,0.011628
2,high,40.7388,-74.0018,2956,2850,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,-3014.744530,0.059701,0.574627,0.365672,134,0.485075
3,low,40.7539,-73.9677,225,3275,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,-3014.472249,0.068063,0.806283,0.125654,191,0.261780
4,low,40.8241,-73.9493,2074,3350,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,-3018.913618,0.081448,0.673947,0.244605,15,0.407501

#### Get the input/output matrices

In [346]:
X_df = train_df17.ix[:, train_df17.columns != 'interest_level']
X_mat = X_df.as_matrix()
X_mat.shape

(49256L, 66L)

In [347]:
Y_df = pd.DataFrame(train_df17.iloc[:,0])
Y_df['interest'] = [0 if x=='low' else(1 if x=='medium' else(2)) for x in Y_df.interest_level]
Y_mat = Y_df.interest.as_matrix()
Y_mat.shape

(49256L,)

#### Regression Analysis

In [348]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
logit = linear_model.LogisticRegression()
logit.set_params(C = 1)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [349]:
logit.fit(X_mat, Y_mat)
logit.score(X_mat, Y_mat)

0.7204401494234205